<h1>New List</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, placeholder: "Political dramas", label: "Name:" %>
  <%= f.submit %>
<% end %>

<button><%= link_to "Back home", lists_path %></button>
